<h4>Key:<%= key %></h4>
<h5>Count: <%= count %></h5>
<table class="table">
    <tr>
        <th style="width:10%">No.</th>
        <th style="width:75%">Data</th>
        <th style="width:15%">Action</th>
    </tr>
    <% list.forEach(function(item, index){ %>
    <tr>
        <td><%= index %></td>
        <td><pre><%= item %></pre></td>
        <td><a href="/list/remove/<%= key %>/<%= index %>" class="btn btn-danger" onclick="return confirm('Are you sure to delete this record ?')">Remove</a></td>
    </tr>
    <% }); %>
    <tr>
        <td colspan="3">

        </td>
    </tr>

</table>
<div class="pagination pagination-centered">
    <ul>
        <li><a href="/show/<%= key %>/<%= minPage - 1 %>">Prev</a></li>
        <% pages.forEach(function(item, index){ %>
        <% if(item.currentPage == item.index){ %>
        <li class="disabled"><a href="#"><%= item.index %></a></li>
        <% } else {%>
        <li><a href="/show/<%= key %>/<%= item.index %>"><%= item.index %></a></li>
        <% }}) %>
        <li><a href="/show/<%= key %>/<%= maxPage + 1 %>">Next</a></li>
    </ul>
</div>

