<h4>Key:<%= key %></h4>
<h5>Count: <%= count %></h5>
<table class="table">
    <tr>
        <th style="width:10%">No.</th>
        <th style="width:75%">Data</th>
        <th style="width:15%">Action</th>
    </tr>
    <% list.forEach(function(item, index){ %>
    <tr>
        <td><%= index %></td>
        <td><pre><%= item %></pre></td>
        <td><a href="/list/remove/<%= key %>/<%= index %>" class="btn btn-danger" onclick="return confirm('Are you sure to delete this record ?')">Remove</a></td>
    </tr>
    <% }); %>

</table>